node_modules
.env
coverage
coverage.json
typechain

#Hardhat files
cache
artifacts

#cronos devnet files
cronos_devnet/bin
cronos_devnet/data

# asdf
.tool-versions

# generated ABI and address
rpg-ui/src/contracts

**/.DS_Store